configuration {
    modi: "drun";
    show-icons: false;
    display-drun: "Apps";
    drun-display-format: "{name}";
    font: "monospace 11";
}

* {
    background:     #d91a1a1a;
    background-alt: #2a2a2a;
    foreground:     #cccccc;
    selected:       #cccccc;
    border-color:   #2a2a2a;

    background-color: @background;
    text-color:        @foreground;
}

window {
    width: 30%;
    height: auto;
    background-color: @background;
    border: 1px;
    border-color: @border-color;
    border-radius: 8px;
    padding: 10px;
}

mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
    spacing: 10px;
}

inputbar {
    background-color: @background-alt;
    text-color: @foreground;
    padding: 8px;
    border-radius: 8px;
    children: [ entry ];
}

entry {
    background-color: transparent;
    text-color: @foreground;
    font: "monospace 11";
    placeholder: "Search apps...";
    placeholder-color: @background-alt;
}

listview {
    background-color: transparent;
    lines: 8;
    spacing: 4px;
    cycle: true;
    dynamic: true;
}

element {
    background-color: transparent;
    text-color: @foreground;
    padding: 6px;
    border-radius: 8px;
}

element selected {
    background-color: @background-alt;
    text-color: @selected;
    border: 1px;
    border-color: @border-color;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    font: "monospace 11";
    vertical-align: 0.5;
}
